@import 'theme/variables';

.changeListCol {
  width: 19%;
  text-align: left;
}

.ownerCol {
  text-align: center;
  width: 9%;
}

.timeCol {
  text-align: center;
  width: 14%;
}

.stateCol {
  text-align: center;
  width: 14%;
}

.statusCol {
  text-align: center;
  width: 11%;
}
